<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger row">
            <div class="col-sm-8">
              <h4 class="card-title ">Master Disabilitas</h4>
              <p class="card-category">List of Master Disabilitas</p>
            </div>
            <div class="col-sm-4">
              <ul class="nav nav-tabs" data-tabs="tabs">
                <li class="nav-item">
                  <button mat-raised-button color="warn" (click)="openDialog()"><i class="material-icons">add</i> New</button>
                </li>
              </ul>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table mat-table [dataSource]="dataSource" class="col-md-12">
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef class=" text-primary"> Disabilitas ID </th>
                  <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>
        
                <ng-container matColumnDef="kategori">
                  <th mat-header-cell *matHeaderCellDef class=" text-primary"> Kategori </th>
                  <td mat-cell *matCellDef="let element"> {{element.kategori}} </td>
                </ng-container>
        
                <!-- <ng-container matColumnDef="created_at">
                  <th mat-header-cell *matHeaderCellDef class=" text-primary"> Created At </th>
                  <td mat-cell *matCellDef="let element"> {{element.created_at | date:'long'}} </td>
                </ng-container> -->
        
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef> Action </th>
                  <td mat-cell *matCellDef="let element; let i = index;">
                    <button mat-mini-fab color="primary" class="push-right" style="margin-right: 5%;" (click)="openDialog(element)">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon"
                      (click)="deleteDisabilitas(i, element)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p *ngIf="DisabilitasData.length <= 0" class="no-data">There is no disabilitas added yet!</p>
</div>